@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.App {
  display: flex;
  /*background-image: url(./background.png);*/
  background-color: black;
  background-size: fill;
  background-position: center;
  color: white;
  overflow: hidden;
}
